body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #3a3a3a;
}

header p {
  font-size: 1.2em;
  color: #777;
}

section {
  margin-bottom: 30px;
}

h2 {
  border-bottom: 2px solid #3a3a3a;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}

.job, .school {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #3a3a3a;
  border-radius: 5px;
}

.subtittle {
  font-style: italic;
  margin-bottom: 15px;
  color: #444;
}

.promotion-timeline {
  display: flex;
  align-items: flex-start;
}

.arrow-line {
  position: relative;
  width: 10px;
  background-color: #888;
  height: 400px; /* Ajuste a altura conforme necessário */
  margin-right: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #47345f;
}

.arrow-head {
  position: absolute;
  top: -10px; /* Posiciona a seta na parte superior */
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #888; /* Aponta para cima */
}

.timeline-content {
  display: flex;
  flex-direction: column-reverse; /* Organiza o conteúdo de baixo para cima */
}

.timeline-stage {
  margin-bottom: 30px;
}

.date {
  font-weight: bold;
  color: #333;
  display: block;
}

.position {
  font-size: 1.1em;
  color: #555;
}

.highlight {
  background-color: #d0c4df;
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: bold;
  color: #555;
}

.experience-details {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
  max-width: 400px;
}

h3 {
  margin: 0;
  font-size: 1.5em;
  color: #3a3a3a;
}

p {
  margin: 5px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.profile a {
  color: #3a3a3a; /* Cor azul para os links */
  text-decoration: none; /* Remove a linha abaixo dos links */
  font-weight: bold; /* Deixa a fonte em negrito */
}
.profile a:hover {
  color: #1558b0; /* Cor um pouco mais escura quando o link é focado */
}

.subtittle {
  color: #191970;
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  header h1 {
      font-size: 2em;
  }

  header p {
      font-size: 1em;
  }

  .job, .school {
      padding: 15px;
  }
}
